<ul>
<% @foods.each do | food | %>
    <li class="list">
       <p>
		
		<strong><%= food.title %></strong>
        <br>
        <b>course: </b><%= food.order %>
        <br>
        <b>table: </b><%= food.table_number %>	
       </p>
    </li>
<% end %>
<a href="/foods/new">New Order</a>
</ul>