<h1>Create New Food</h1>
<form method="POST" action="/songs">
    Title: <br>
    <input type="text" name="food[title]" value="Title"><br>
    Order: <br>
    <input type="text" name="food[order]" value="Order"><br>
    Table_Number: <br>
    <input type="text" name="food[table_number]" value="Table_Number"
    <input type="submit" value="Submit">
</form>
